.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  z-index: 100;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-list {
  color: white;
  background-color: grey;
}

#bgvid {
    position: absolute;
    top: 50%;
    left: 50%; /* fixed to left. Replace it by right if you want.*/
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

#bg-image {
  position: absolute;
  top: 50%;
  left: 50%; /* fixed to left. Replace it by right if you want.*/
  transform: translate(-50%, -50%);
  /* min-width: 100%;
  min-height: 100%; */
  /* -webkit-background-size: cover; */
  /* -moz-background-size: cover; */
  /* -o-background-size: cover; */
  /* background-size: cover; */
  z-index: -100;
}

.out-video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}
  
.white-text {
  color:white;
}

.card-detail-default {
  color: white;
  font-size: 40px;

}

.card-detail-card-name {
  font-size: 20px;
  color: white;
}

.card-detail-card-damage {
  font-size: 30px;
  color: white;
}

.galatic-struggle-gif {
  height: 50px;
}


.expand-on-hover:hover {
  opacity: 0.3;
  width: 60%;
}
